Accounts Payable Invoice Automation.json
{
  "name": "Accounts Payable Invoice Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "has:attachment subject:invoice OR subject:bill"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -624,
        96
      ],
      "id": "c8218913-1153-429e-a112-d2f92a461fa6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkxw5O9yR2GmF6ym",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "94e98370-daa4-47c1-a11a-1e93d2fbf7b1",
              "leftValue": "={{$json.binaryData.attachment_0.mimeType}}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "eb384c6b-617f-4771-b5e0-aada1eea5ee2",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "17590ee1-b58d-4936-96fd-e71ee39b459c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K84155071788957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "language",
              "value": "eng"
            },
            {
              "name": "isTable",
              "value": "true"
            },
            {
              "name": "OCREngine",
              "value": "2"
            },
            {
              "parameterType": "formBinaryData",
              "name": "base64Image",
              "inputDataFieldName": "attachment_0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        192
      ],
      "id": "4c15c11c-b99d-422e-8d73-a811dec7be95",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -416,
        96
      ],
      "id": "77a91b95-a141-4756-bb47-5ae1017f0148",
      "name": "Get a message",
      "webhookId": "bb25211c-0143-48f1-8cae-5db1f4952585",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkxw5O9yR2GmF6ym",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14ccd937-f072-4ef4-88da-717e2e28c129",
              "name": "extractedText",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a751c66d-f216-4722-86d4-0eb16fdc4cf3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0563a481-e6f8-4420-9cad-0675a6164597",
              "name": "extractedText",
              "value": "={{ $json.ParsedResults[0].ParsedText }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        192
      ],
      "id": "9e24459d-e88b-49ad-85c6-bdf463536744",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        96
      ],
      "id": "787ea569-1aa1-46d1-9e22-e447fa26990c",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an invoice data extraction assistant. Extract the following fields from the invoice text and return ONLY valid JSON, no other text, no markdown backticks.\n\nInvoice text:\n{{ $json.extractedText }}\n\nReturn this exact JSON structure filled with extracted values:\n{\"vendor_name\":\"\",\"vendor_address\":\"\",\"bill_to_name\":\"\",\"invoice_number\":\"\",\"invoice_date\":\"\",\"due_date\":\"\",\"po_number\":\"\",\"line_items\":[{\"qty\":0,\"description\":\"\",\"unit_price\":0,\"amount\":0}],\"subtotal\":0,\"tax_rate\":\"\",\"tax_amount\":0,\"total_amount\":0,\"currency\":\"\",\"payment_terms\":\"\"}\n\nIf a field is not found, use null.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        624,
        96
      ],
      "id": "e1e41e0a-5b33-4aee-ac40-03e67689443f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        624,
        304
      ],
      "id": "8d220c18-b699-4be4-8153-0e3af336e192",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "DVKxV9kCYBcGA5cP",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.text;\n\n// Remove markdown backticks if present\nconst cleanJson = response.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n\nconst invoice = JSON.parse(cleanJson);\n\nreturn [{\n  json: {\n    ...invoice,\n    status: invoice.total_amount <= 500 ? \"Auto-Approved\" : \"Needs Review\",\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        96
      ],
      "id": "0b0ac342-0447-4800-ac4a-47f3c768e300",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6e4eeff-49ba-4af3-bf6c-d1422a078e90",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Auto-Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        96
      ],
      "id": "422a2092-0509-462a-bf71-5563f7e146ae",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1CRVSZ4FVn9fkP_jWM-yR5J0N-lHuRItxiTQ24nmOgyw",
          "mode": "list",
          "cachedResultName": "InvoiceFlow AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CRVSZ4FVn9fkP_jWM-yR5J0N-lHuRItxiTQ24nmOgyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CRVSZ4FVn9fkP_jWM-yR5J0N-lHuRItxiTQ24nmOgyw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "Invoice Number": "={{ $json.invoice_number }}",
            "Vendor Name": "={{ $json.vendor_name }}",
            "Vendor Address": "={{ $json.vendor_address }}",
            "Bill To": "={{ $json.bill_to_name }}",
            "Invoice Date": "={{ $json.invoice_date }}",
            "Due Date": "={{ $json.due_date }}",
            "PO Number": "={{ $json.po_number }}",
            "Line Items": "={{ JSON.stringify($json.line_items) }}",
            "Subtotal": "={{ $json.subtotal }}",
            "Tax Rate": "={{ $json.tax_rate }}",
            "Tax Amount": "={{ $json.tax_amount }}",
            "Total Amount": "={{ $json.total_amount }}",
            "Currency": "={{ $json.currency }}",
            "Payment Terms": "={{ $json.payment_terms }}",
            "Status": "={{ $json.status }}",
            "Processed At": "={{ $json.processed_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Address",
              "displayName": "Vendor Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bill To",
              "displayName": "Bill To",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PO Number",
              "displayName": "PO Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Line Items",
              "displayName": "Line Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax Rate",
              "displayName": "Tax Rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tax Amount",
              "displayName": "Tax Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment Terms",
              "displayName": "Payment Terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Processed At",
              "displayName": "Processed At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor_address",
              "displayName": "vendor_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bill_to_name",
              "displayName": "bill_to_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "po_number",
              "displayName": "po_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_items",
              "displayName": "line_items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tax_rate",
              "displayName": "tax_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tax_amount",
              "displayName": "tax_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_terms",
              "displayName": "payment_terms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1792,
        80
      ],
      "id": "7e5596a0-cf4c-476b-b325-ab40c102c09c",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rQIYN0G41UswujYT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "mfahad2405@gmail.com",
        "subject": "=⚠️ Invoice Review: {{ $json.invoice_number }} - ${{ $json.total_amount }}",
        "message": "=Hi,\n\nA new invoice requires your review:\n\nVendor: {{ $json.vendor_name }}\nInvoice #: {{ $json.invoice_number }}\nAmount: ${{ $json.total_amount }} {{ $json.currency }}\nDue Date: {{ $json.due_date }}\n\nLine Items:\n{{ JSON.stringify($json.line_items, null, 2) }}\n\nThis invoice exceeds the $500 auto-approval threshold.\n\nPlease reply with:\n✅ APPROVED - to approve this invoice\n❌ REJECTED - to reject this invoice",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        208
      ],
      "id": "add9249f-c137-4e3e-a1f3-e4713269fab9",
      "name": "Send message and wait for response",
      "webhookId": "4a128748-df53-4282-b65d-0789832344ff",
      "credentials": {
        "gmailOAuth2": {
          "id": "qkxw5O9yR2GmF6ym",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// The wait node returns data.approved as true/false\nconst approved = $input.first().json.data.approved;\n\nconst status = approved === true ? \"Manually Approved\" : \"Rejected\";\n\nreturn [{\n  json: {\n    vendor_name: $('Code in JavaScript').first().json.vendor_name,\n    vendor_address: $('Code in JavaScript').first().json.vendor_address,\n    bill_to_name: $('Code in JavaScript').first().json.bill_to_name,\n    invoice_number: $('Code in JavaScript').first().json.invoice_number,\n    invoice_date: $('Code in JavaScript').first().json.invoice_date,\n    due_date: $('Code in JavaScript').first().json.due_date,\n    po_number: $('Code in JavaScript').first().json.po_number,\n    line_items: $('Code in JavaScript').first().json.line_items,\n    subtotal: $('Code in JavaScript').first().json.subtotal,\n    tax_rate: $('Code in JavaScript').first().json.tax_rate,\n    tax_amount: $('Code in JavaScript').first().json.tax_amount,\n    total_amount: $('Code in JavaScript').first().json.total_amount,\n    currency: $('Code in JavaScript').first().json.currency,\n    payment_terms: $('Code in JavaScript').first().json.payment_terms,\n    status: status,\n    processed_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        208
      ],
      "id": "7f0267e7-506e-4a38-ad8a-91398441ec55",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cfe3726d-ff31-4f5b-8b8b-29c6254070ec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "236a4f8e22169bc59c318b7cf88d13a764c72daa5eddde8f7660e139d9f47049"
  },
  "id": "4f0KQUwV8ObZ1JjZ",
  "tags": []
}